.papa{
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(min-content, 95rem) minmax(8rem, 1fr);
}

.top{
    margin-top: -150px;
}

.primera{
    display: grid;
    grid-column: 2 / 3;
}

.segunda{
    grid-column: 2 / 3;
}