
.papa{
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) minmax(min-content, 95rem) minmax(8rem, 1fr);
}

.titulo-2{
    text-align: center;
    margin-bottom: 20px;
}

.titulo-3{
    text-align: center;
}

.titulo-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 13px 0px;
}

span{
    font-weight: 700;
}

.primera{
    display: grid;
    grid-column: 2 / 3;
}

.segunda{
    grid-column: 2 / 3;
}

@media print {
    .papa{
        margin-top: 70px;
    }
  }

.venta{
    margin-top: 30px;
}
