.position{
    width: 100%;
    position: fixed;
    top: 0;
}

.titulo{
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, black, blue);
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo h2{
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iconBars{
    color: azure;
    position: absolute;
    left: 0;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

.options{
    background-color: white;
    position: absolute;
    height: 500px;
    top: 77px;
    left: 8px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Sombra inferior */
    0 -4px 8px rgba(0, 0, 0, 0.2), /* Sombra superior */
    -4px 0 8px rgba(0, 0, 0, 0.2), /* Sombra izquierda */
    4px 0 8px rgba(0, 0, 0, 0.2);
    overflow-y: scroll; 
    overflow-x: hidden;  /* Hace la barra más delgada en Firefox */
    scrollbar-color: gray transparent; 
}

.options div{
    font-weight: 800;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
    border-radius: 7px;
}

.options div:hover{
    background-color: rgb(194, 192, 192)
}

.hombre{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media print {
    h2 {
      display: none; 
   }
}
